* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-container {
  width: 80%;
  height: 80%;
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.track {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  transition: transform 0.2s ease-in;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-hidden {
  opacity: 0.2;
}

:root {
  --button-width: 20px;
  --button-color: rgba(0, 0, 0);
}

.left-button {
  background-position: 160% 55%;

  border-top: var(--button-width) solid transparent;
  border-bottom: var(--button-width) solid transparent;

  border-right: var(--button-width) solid var(--button-color);
}

.right-button {
  background-position: -60% 55%;

  border-top: var(--button-width) solid transparent;
  border-bottom: var(--button-width) solid transparent;

  border-left: var(--button-width) solid var(--button-color);
  background-repeat: no-repeat;
}

.left-button,
.right-button {
  width: 10%;
  cursor: pointer;
}

.dots-container {
  width: 100%;
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  cursor: pointer;
  margin: 2px;
}

.current-dot {
  background: rgba(0, 0, 0);
}
